<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Filament</title>
</head>
<body>
    <h1>Edit Filament:</h1>
    <form action="/filament/<%= filament.id %>?_method=PUT" method="POST">
        Type: <input type="text" name="type" id="type">
</br>
        Brand: <input type="text" name="brand" id="brand">
</br>
        Color: <input type="text" name="color" id="color">
</br>
        Image Link: <input type="text" name="img" id="img">
</br>
        Temperature: <input type="text" name="temperature" id="temperature">
</br>
        Speed: <input type="text" name="speed" id="speed">
</br>
        Shop Link: <input type="text" name="link" id="link"> 
<br>
        <input type="submit" value="Save Changes">
      </form>
      <a href="/filament">Back</a>
</body>
</html>