<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Create New Filament</title>
</head>
<body>
    <h1>Add New Filament:</h1>
    <form action="/filament", method="POST">
        Type: <input type="text" name="type">
</br>
        Brand: <input type="text" name="brand">
</br>
        Color: <input type="text" name="color">
</br>
        Image Link: <input type="text" name="img">
</br>
        Temperature: <input type="text" name="temperature">
</br>
        Speed: <input type="text" name="speed">
</br>
        Shop Link: <input type="text" name="link"> 
<br>
        <input type="submit" value="Add Filament">
      </form>
      <a href="/filament">Back</a>
</body>
</html>