<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Monda&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/new.css">
    <title> Create New Filament</title>
</head>
<body>
    <header>
        <h2 id="printer-catalog">Filament Catalog</h2>
        <p id="username"><%= currentUser.username %></p>
        <form action="/sessions?_method=DELETE" method="POST">
            <input id="log-out" type="submit" value="Log Out" class="btn-small red" />
        </form>
        <a id="return-link" href="/filament">Return to Index</a>
    </header>
    <main>
    <h2 id="add-new">Add New Filament:</h2>
    <div class="container">
    <form action="/filament", method="POST">
        Type: <input type="text" name="type" id="type">
        Brand: <input type="text" name="brand" id="brand">
        Color: <input type="text" name="color" id="color">
        Image Link: <input type="text" name="img" id="img">
        Stock (kg): <input type="text" name="stock" id="stock">
        Hotend Temperature (°C): <input type="text" name="hotendTemperature" id="hotendTemperature">
        Bed Temperature (°C): <input type="text" name="bedTemperature" id="bedTemperature">
        Print Speed (mm/s): <input type="text" name="speed" id="speed">
        Retraction Distance (mm): <input type="text" name="retractionDistance" id="retractionDistance">
        Retraction Speed (mm/s): <input type="text" name="retractionSpeed" id="retractionSpeed">
        Shop Link: <input type="text" name="link" id="link">
    </br>
        <input id="add" type="submit" value="Add Filament">
      </form>
      </div>
    </main>
</body>
</html>