<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Monda&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/new.css">
    <title> Create New Filament</title>
</head>
<body>
    <header>
        <%- include ('./partials/header.ejs') %>
    </header>
    <main>
    <h2>Add New Filament:</h2>
    <form action="/filament", method="POST">
        Type: <input type="text" name="type" id="type">
        Brand: <input type="text" name="brand" id="brand">
        Color: <input type="text" name="color" id="color">
        Image Link: <input type="text" name="img" id="img">
        Stock (kg): <input type="text" name="stock" id="stock">
        Hotend Temperature (°C): <input type="text" name="hotendTemperature" id="hotendTemperature">
        Bed Temperature (°C): <input type="text" name="bedTemperature" id="bedTemperature">
        Speed (mm/s): <input type="text" name="speed" id="speed">
        Shop Link: <input type="text" name="link" id="link">
    </br>
        <input type="submit" value="Add Filament">
      </form>
      <a href="/filament">Cancel</a>
    </main>
</body>
</html>