body {
    text-align: center;
    font-family: "Monda", monospace;
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 100%;
    background-color: rgb(34, 34, 34);
    /* justify-content: center; */
    /* align-items: center; */
    /* position: relative; */
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 13%;
    background: #4b0303;
    /* border-bottom: 5px solid #36302D; */
    /* color: black; */
    z-index: 2;
    /* display: flex; */
    /* flex-flow: row wrap; */
    /* justify-content: center; */
    color: white;
}

#printer-catalog {
    /* color: #FFFFFF; */
    /* display: flex; */
    /* justify-content: center; */
    width: 60%;
    text-align: center;
    position: absolute;
    left: 20%;
    top: 4%;
}

#username {
    /* color: #FFFFFF; */
    position: absolute;
    top: 1%;
    left: 1%;
    margin: 0;
}

#log-out {
    background-color: #5c5c5c;
    color: white;
    position: absolute;
    top: 2%;
    right: 1%;
    margin: 0;
}

#create-new {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: black;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: .25em;
    background-color: #5c5c5c;
}

main {
    color: white;
    background-color: rgb(34, 34, 34);
    position: absolute;
    top: 13%;
    left: 0;
    /* height: 80%; */
    width: 100%;
    display: flex;
    flex-flow: column wrap;
}

#index {
    /* border-bottom: 2px solid rgb(50, 98, 126); */
    margin: 2% 0 0 0;
    position: absolute;
    left: 0;
    right: 0;
    /* top: 3%; */

    /* padding: .5em 0; */
    /* border: 1px solid white; */

}

.all-items {
    display: flex;
    flex-flow: column wrap;
    /* margin: 0 auto; */
    margin: 1em 0 0 0;
}

.item {
    background-color: white;
    border: 5px solid #5c5c5c;
    border-radius: 5%;
    /* display: flex;
    flex-flow: column wrap; */

    margin: .5em 1em;
    /* padding: 1em; */
}

.item-details {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

a {
    text-decoration: none;
    color: black;
}


img {
    width: 250px;
    height: 250px;
    /* margin: 1em; */
}

@media (min-width: 500px) {

    header {
        height: 10%;
    }

    #printer-catalog {
        width: initial;
        font-size: 48px;
        left: 0;
        top: 0;
        padding: 0 0;
        margin: 0 0;
    }

    #username {
        /* position: absolute; */
        right: 8%;
        left: 72%;

    }
    
    #log-out {
        top: 5%;
    }
    
    #create-new {
        /* top: 0; */
        width: 26%;
        bottom: 4%;
        left: 72%;
        border: 1px solid white;
    }

    #create-new:hover {
        box-shadow: 10px 0 10px 0 #4b0303;
    }

    main {
        top: 9%;
    }

    .all-items {
        flex-flow: row wrap;
        justify-content: center;
        /* margin: 2em 0; */
    }

    .item {
        /* border-radius: 5%; */
        margin: 1em;
        padding: 1em;
    }

    .item:hover {
        box-shadow: 10px 0 10px 0 #4b0303;
    }
}