body {
    background-color: powderblue;
    text-align: center;
    font-family: "monda", monospace;
    display: flex;
    flex-flow: column wrap;
    /* justify-content: center; */
    align-items: center;
}

#create-new {
    border: 1px solid black;
    padding: 1em;
}
#create-new:hover {
    box-shadow: 10px 0 10px 0;
}

.all-items {
    display: flex;
    flex-flow: row wrap;

}

.item {
    background-color: white;
    border: 1px solid black;
    border-radius: 5%;
    /* display: flex;
    flex-flow: column wrap; */

    margin: 1em;
    padding: 1em;
}
.item:hover {
    box-shadow: 10px 0 10px 0;
}

.item-details {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

a {
    text-decoration: none;
    color: black;
}


img {
    width: 250px;
    height: 250px;
    margin: 1em;
}