<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Monda&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/session.css">
    <title>New Session</title>
</head>
<body>
    <header>
        <h2 id="printer-catalog">3D Printer Catalog</h2>
        <a id="sign-up" href="/users/new">Click here to create new account.</a>
    </header>
    <main>
    <h2 id="log-in">Log In:</h2>
    <div class="container">
    <form action="/sessions", method="POST">
        Username: <input type="text" name="username" id="username">
    </br>
        Password: <input type="text" name="password" id="password">
    </br>
        <input id="submit" type="submit" value="Log In">
      </form>
      </div>
      </main>
</body>
</html>